---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

$primary-color: #00AEEF;
$secondary-color: #6CC04A;

body {
  font-family: 'Raleway', sans-serif;
}
h1{
  color: $primary-color;
}
.project-tagline {
  color: $secondary-color;
}

,
.main-content h2 {
  color: $primary-color;
}

a {
  color: $primary-color;
}
.project-name {
  font-weight: normal;
}
.page-header {
  text-align: center;
  background-color: #e9ecef;
  background-image: none;
}
